<div class="container" ng-repeat="plan in planModel">
    <div class="col-xs-12" ng-if="plan.planId === planId">
        <h6>{{plan.name}}</h6>
        <h2>{{plan.currency}} {{plan.price}}</h2>
        <br>
        <div ng-repeat="feature in plan.features">* {{feature}}</div>
        <div>
            <input type="radio" name="choosePlan" value=plan_{{plan.price}} ng-click="selectPlan(plan)" ng-checked="{{plan.isSelected}}">Choose this Plan
        </div>
        <div>
            <a href="#/products"> Products Page </a>
        </div>
    </div>
</div>
